

<h1>We care about your privacy</h1>
<br />
<h3>We are committed to treating your privacy with respect, fairness, transparency and integrity, honouring the trust you place in us</h3>
<br />
<p>1.We will be transparent with you through our Privacy Policy and during our interactions with you</p>
<p>2.We will only use your personal data to provide you our services, for legitimate business purposes, to fulfil legal obligations, to keep you safe and where you tell us it’s ok</p>
<p>3.We will only send you marketing messages if you tell us to do so</p>
<p>4.We will keep your personal information secure</p>
<p>5.We will respect your rights to control the personal information you share with us</p>
